
.gi-container {
    margin-top: 25px;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    width: auto;
    justify-content: flex-start;
    background-color: #fff;
}

.gi-textitems {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 25px;
}

.gi-image {
    height: 200px;
}


.giHeading {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 15px;
}

.giRating {
    font-size: 14px;
    line-height: 16px;
}

.giAddress {
    font-size: 14px;
    line-height: 16px;
    color: #636363;
    padding-left: 20px;
}

.giRatingAddress {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding-bottom: 15px;
}

.btn-secondary {
    background-color: #ffffff;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
}

.btn-secondary:hover {
    background-color: #F9FAFA;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
}


.btn-tertiary {
    background-color: #fff;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
}

.btn-tertiary:hover {
    background-color: #F9FAFA;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
}